@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900);
@import url(https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise);
@import url(https://fonts.googleapis.com/css?family=Aldrich);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);

$font-primary: 'Montserrat', sans-serif;
$font-secondary:'Roboto', sans-serif;
$font-3th: 'Lato', sans-serif;
$font-4th: 'Monsieur La Doulaise', cursive;
$font-5th: 'Aldrich', sans-serif;
$font-6th: 'Great Vibes', cursive;


$color-primary: #333333;   
$color-secondary: #4c4c4c;  

$color-main: #003143; 
$color-main-2: #f1494c; 

$color-002: #002a3a;
$color-003: #1f6c87;
$color-004: #8bb22c; 
$color-007: #f1f5f6;
$color-008: #0085b2;
$color-009: #1c4859;
$color-010: #ff5b26;    //red
$color-011: #f1494c;
$color-012: #002a3d;
$color-013: #0b5675;
$color-014: #0a4c68;
$color-015: #f1494c;
$color-016: #003f56;
$color-017: #f1494c;
$color-018: #0f82b3;
$color-019: rgba(255, 188, 0, 0.6);
$color-020: #ffbe00;
$color-021: #718a93;
$color-022: #f11d1d;


$cl-001: #fff;
$cl-002: #000; 
$cl-003: rgba(221, 221, 221, 0.2);
$cl-004: #d5d7d8;
$cl-005: #d5d4d3;
$cl-006: #f8f8f8;
$cl-007: #d4d7d9;
$cl-008: #dddddd;
$cl-009: #f7f7f7;
$cl-010: #fafafa;
$cl-011: #fef9f1;
$cl-012: #aab8be;
$cl-013: #bdc0c0;
$cl-014: #444444;
$cl-015: #999999;
$cl-016: #ececec;
$cl-017: #888888;
$cl-018: #555555;
$cl-019: #bbbbbb;
$cl-020: #aaaaaa;
$cl-021: #f4f4f4;
$cl-022: #e6e6e6;
$cl-023: #85bcd4;
$cl-024: #34748c;
$cl-025: #eeeeee;
$cl-026: #f2f2f2;
$cl-027: #747474;
$cl-028: #cccccc;
$cl-029: #6a6a6a;
$cl-030: #9f9f9f;
$cl-031: #666666;
$cl-032: #efefef;
$cl-033: #f1f1f1;
$cl-034: #111111;
$cl-035: #d2d2d2;
$cl-036: #1f1f1f;
$cl-037: #e9e9e9;
 


$font-size: 14px;
$line-height: 24px;



%main_color_2{
    color: $color-main-2;
}
%maini_color_2{
    color: $color-main-2!important;
}

%main_color {
    color: $color-main;
}
%maini_color {
    color: $color-main !important;
}
%main_bg_color {
    background: $color-main;
}
%maini_bg_color {
    background: $color-main!important;
}

%main_bd_color {
    border-color: $color-main;
}

%main_bdt_color {
    border-top-color: $color-main;
}

%main_bdr_color {
    border-right-color: $color-main;
}

%main_bdb_color {
    border-bottom-color: $color-main;
}

%main_bdl_color {
    border-left-color: $color-main;
}

%main_color_2 {
    color: $color-main-2;
}
%maini_color_2 {
    color: $color-main-2 !important;
}
%main_bg_color_2 {
    background: $color-main-2;
}
%maini_bg_color_2 {
    background: $color-main-2!important;
}

%main_bd_color_2 {
    border-color: $color-main-2;
}

%main_bdt_color_2 {
    border-top-color: $color-main-2;
}

%main_bdr_color_2 {
    border-right-color: $color-main-2;
}

%main_bdb_color_2 {
    border-bottom-color: $color-main-2;
}

%main_bdl_color_2 {
    border-left-color: $color-main-2;
}


%list_reset {
    list-style: none;
    padding: 0;
    margin: 0;
    &.row{
        margin: 0 -15px;
    }
    li{
        list-style: none;
        margin: 0;
    }
    ul, ol {
        list-style: none;
        padding: 0;
        margin: 0;
        &.row{
            margin: 0 -15px;
        }
        li{
            list-style: none;
        }
    }
}
%list_format {
    li:first-child {
        margin: 0;
        padding: 0;
        border: 0;
    }
}

%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
%word-break{
    width: 3px;
    word-break: break-all;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    font-family: $font-primary;
}

%tab_reset{  
    border-top: none;
    .nav-tabs{      
        border-bottom:none;      
        li{               
            margin: 0;       
            a{
                display: block;
                border: none;
                border-radius: 0;
                padding: 0;
                margin: 0; 
            }
        }
    } 
}

%transition {
    transition: all 0.5s, visibility 0s;
    -ms-transition: all 0.5s, visibility 0s;
    -webkit-transition: all 0.5s, visibility 0s;
    -moz-transition: all 0.5s, visibility 0s;
}

%fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%ti {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%text_format {
    font-size: $font-size;
    line-height: $line-height;
    font-style: normal;
}



@mixin icon($width, $height, $line-height, $font-size) {
    display: inline-block;
    text-align: center;
    width: $width;
    height: $height;
    line-height: $line-height;
    font-size: $font-size;
}



@mixin opacity($opacity) {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+ $opacity * 100 + ")";    
    /* Netscape */
    -moz-opacity: $opacity;
    /* Safari 1.x */
    -khtml-opacity: $opacity;
    /* Good browsers */
    opacity: $opacity;
}




@mixin transition($time) {
    transition: all $time, visibility 0s;
    -ms-transition: all $time, visibility 0s;
    -webkit-transition: all $time, visibility 0s;
    -moz-transition: all $time, visibility 0s;
} 

@mixin transform($transformx) {
    -webkit-transform: $transformx;
    -moz-transform: $transformx;
    -ms-transform: $transformx;
    -o-transform: $transformx;
    transform: $transformx;
}

@mixin scale($scale) {
    @include transform(scale($scale));
}

@mixin skew($skew) {
    @include transform(skew($skew));
}

@mixin rotate($rotate) {
    @include transform(rotate($rotate));
}
@mixin rotateY($rotateY){
    @include transform(rotateY($rotateY));
}


@mixin translateX($translateX) {
    @include transform(translateX($translateX));
}

@mixin translateY($translateY) {
    @include transform(translateY($translateY));
}

@mixin translate($x, $y){
 -ms-transform: translate($x,$y); /* IE 9 */
 -webkit-transform: translate($x,$y); /* Safari */
 transform: translate($x,$y);
}
@mixin skewX($skewX){
   -ms-transform: skewX($skewX); /* IE 9 */
   -webkit-transform: skewX($skewX); /* Safari */
   transform: skewX($skewX);
}
@mixin translate_rotate($x, $y, $z){
 -ms-transform: translate($x,$y) rotate($z); /* IE 9 */
 -webkit-transform: translate($x,$y) rotate($z); /* Safari */
 transform: translate($x,$y) rotate($z);
}

@mixin text_format($font-family, $font-size, $line-height, $font-weight) {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

@mixin transform-origin($x, $y) {
    -webkit-transform-origin : $x $y;
    -moz-transform-origin : $x $y;
    -ms-transform-origin : $x $y;
    -o-transform-origin : $x $y;
    transform-origin : $x $y;
}

@mixin list_format($margin, $padding, $border) {
    li:first-child {
        margin: $margin;
        padding: $padding;
        border: $border;
    }
}
@mixin placeholder($color, $font-family, $font-size, $font-style){
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $color;
      font-family: $font-family;
      font-size: $font-size;
      font-style: $font-style;
  }
  &::-moz-placeholder { /* Firefox 19+ */
      color: $color;
      font-family: $font-family;
      font-size: $font-size;
      font-style: $font-style;
  }
  &:-ms-input-placeholder { /* IE 10+ */
      color: $color;
      font-family: $font-family;
      font-size: $font-size;
      font-style: $font-style;
  }
  &:-moz-placeholder { /* Firefox 18- */
      color: $color;
      font-family: $font-family;
      font-size: $font-size;
      font-style: $font-style;
  }
}
@mixin placeholder_2($color, $font-family, $font-size, $font-style, $text-transform){
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $color;
      font-family: $font-family;
      font-size: $font-size;
      font-style: $font-style;
      text-transform: $text-transform;
  }
  &::-moz-placeholder { /* Firefox 19+ */
      color: $color;
      font-family: $font-family;
      font-size: $font-size;
      font-style: $font-style;
      text-transform: $text-transform;
  }
  &:-ms-input-placeholder { /* IE 10+ */
      color: $color;
      font-family: $font-family;
      font-size: $font-size;
      font-style: $font-style;
      text-transform: $text-transform;
  }
  &:-moz-placeholder { /* Firefox 18- */
      color: $color;
      font-family: $font-family;
      font-size: $font-size;
      font-style: $font-style;
      text-transform: $text-transform;
  }
}

@mixin btn($height, $padding, $font-size){
    height: $height;
    line-height:$height;
    padding: 0 $padding;
    font-size: $font-size;
    @extend %transition;
}

::selection {
    background: $color-main;
    color: $cl-001;
    text-shadow: none;
}

::-moz-selection {
    background: $color-main;
    color: $cl-001;
    text-shadow: none;
}


@mixin main_icon($border-color, $background){
    display: inline-block;
    width: 86px;
    height: 86px;
    border: 1px dashed $cl-005;
    margin: 17px;
    >div{
        width: 84px;
        height: 84px;
        border-width: 1px;
        border-style: solid;
        border-color: $border-color;
        display: inline-block;
        @include rotate(-45deg);
        background: $background;
        >div{
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            padding-top: 17px;
            @include rotate(45deg);
            position: relative;
            p{
              color: $border-color;
              margin-bottom: 0;
              &:first-child{
                font-size: 30px;
            }
            &:last-child{
                font-size: 12px;
                text-transform: uppercase;
                font-family: $font-primary;
                margin-top: -5px;
                font-weight: bold;
                color: #333;
            }
        }
        img{
         position: absolute;
         top: 50%;
         left: 50%;
         @include translate(-50%, -50%);
     }
 }
}
}



@mixin ct_more_link($color, $color-border, $color-hover, $color-span){
    display: inline-block;
    font-size: 17px;
    height: 39px;
    line-height: 39px;
    padding: 0 55px 0 15px;
    color: $color;
    border: 1px solid $color-border;
    font-family: $font-primary;
    font-weight: 300;
    position: relative;
    &:after{
        content: "\f105";
        font-family: fontAwesome;
        width: 39px;
        height: 37px;
        line-height: 37px;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        border-left: 1px solid $color-border;
        @extend %transition;
    }
    &:hover{
        border-color: $color-hover;
        &:after{
            background: $color-hover;
            color: $color-span;
            border-left-color: $color-hover;
        }
    }
}

@mixin linear_gradient($color-1 , $color-2){
   background: -webkit-linear-gradient($color-1 85%, $color-2); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient($color-1 85%, $color-2); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient($color-1 85%, $color-2); /* For Firefox 3.6 to 15 */
   background: linear-gradient($color-1 85%, $color-2); /* Standard syntax */
}


@mixin grayscale($percent){
    -webkit-filter: grayscale($percent); /* Chrome, Safari, Opera */
    filter: grayscale($percent);
}