.bpc-widget-intro-01{
  .widget-header{
    margin-bottom: 90px;
    padding: 0 250px;
    text-align: center;
    .widget-icon{
      margin-bottom: 65px;
    }
    .widget-sub-title{
      margin-top: -5px;
    }
    .short-description{
      font-size: 15px;
      line-height: 24px;
      margin-top: 25px;     
    }
  }
} 

.module-intro-01--01{
  .entry-item{
    padding: 0 50px;
  }
}

.module-intro-01--02{
  .svg-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 179px;
    margin: auto;
  }


}

.oos-icon{
  font-size: 2em;
  text-align: center;
}

.project-slider{
  margin-bottom: 30px;
  width: 100%;
  @media (min-width: 800px) {
    width: 70%;
  }
}

.overlap-top{
  padding-top: 0px;
  margin-top: -60px;
}

.bpc-tab-content{
 display: none;
 height:0;
 opacity: 0;
 @extend %transition;
}
.bpc-tab-content.show{
  height: auto;
  opacity: 1;
}
.bpc-area-3{
 padding: 63px 0;
 @extend %main_bg_color;
}


.bpc-widget-ads-01{
  .widget-content{
    @extend .clearfix;
  }
  .ads-icon{
    width: 60px;
    margin-right: 15px;
    margin-top: -2px;
    span{
     font-size: 55px;
   }
 }
 .ads-text{
  h4{
   font-size: 27px;
   margin-bottom: 0;
   font-weight: bold;
   color: $color-primary;
 }
 p{
   font-size: 13px;
   font-family: $font-primary;
 }
}
.ads-link{
  margin-top: 5px;
  a{
   margin-right: 30px;
   &:first-child{
    margin-right: 0;
  }
}
}
}

.white-text-style .bpc-widget-ads-01{
  .ads-text h4, .ads-text p, .ads-icon span{
    color: #fff;
  }
}
.bpc-area-4{
  position: relative;
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: $cl-001;
  }
  margin-bottom: -30px;
  padding-top: 120px;
  padding-bottom: 0;
  background-size: cover!important;
  .widget + .widget{
    margin-top: -30px;
  }
}

.bpc-widget-intro-02{
 .widget-header{
  text-align: center;
  margin-bottom: 30px;
  .widget-title{
   margin-top: 30px;      
 }
}
.widget-content{
  text-align: center;
  font-size: 17px;
  p{
   padding: 0 190px;      
 }
 .more-link{
   margin-top: 42px;
 }
}
}

.bpc-widget-article-list-01{
 .widget-header{
  margin-bottom: 55px;
}
.ct-item-05{
  height: 100%;
}
}

.bpc-area-6{
  padding-bottom: 150px;

}

.bpc-widget-table-01{
 .widget-content{
  background: $cl-001;
  >ul{
   >li{
    border-right: 1px solid $cl-008;
    @extend %transition;
    &:last-child{
     border-right: none;
   }

   &:hover{
     background: rgba(0, 49, 67, 0.05);
   }
 }
}
}
}
.bpc-area-7{
  .col-left{
    padding: 100px 220px;
  }
  .col-right{
    padding-top: 100px;
    padding-bottom: 220px;
    @extend %main_bg_color;
  }
}

.bpc-widget-intro-04{
  .widget-header{
    margin-bottom: 20px;
  }
  .widget-content{
    padding-left: 100px;
    .description{
      font-size: 1.2em;
      line-height: 2.4em;
      margin-bottom: 75px;
    }

  }
}


.bpc-area-14{
  overflow: visible;
  .header-icon{
    margin-top: -60px;
  }
  .sj-plw, .sj-prw{
    padding-top: 0;
    padding-bottom: 50px;
  }
}

.bpc-widget-progress-01{
  .widget-content{
    padding-right: 100px;
    >p:first-child{
      font-size: 17px;
      line-height: 27px;
      margin-bottom: 58px;
    }
    .more-link{
      float: right;
      margin-top: 92px;
    }
  }
}




.bpc-widget-intro-03{ 
  .widget-header{
    text-align: center;
    margin-bottom: 10px;
    img{
      margin-bottom: 80px;
    }
  }
  .widget-content{
    text-align: center;
    >p:first-child{
      margin-bottom: 75px;
      font-size: 17px;
      line-height: 27px;
    }
  }
}



.bpc-area-8{
  background: $color-007;
  padding: 120px 0 135px;
}

.owl-carousel-01{
  .owl-item{
    .item{
      text-align: center;
      img{
        width: auto!important;
        margin: auto;
      }
    }
  }
  .owl-nav{       
    margin-top: 95px;
    position: relative;
    &:before, .owl-prev, .owl-next{
      @extend .bpc-square;
      position: absolute;
      left: 50%;      
    }
    &:before{
      content: "";
      background: $cl-014!important;
      margin-left: -8px;
    }
    .owl-prev{
      margin-left: -28px;
    }
    .owl-next{
      margin-left: 12px;
    }
  }
  .item{
    img{
      opacity: 0.4;
      @extend %transition;
      &:hover{
        opacity: 1;
      }
    }
  }
}

.bpc-area-9, .bpc-area-17{
  padding: 120px 0 140px;
}

.bpc-widget-slick-01{
 .widget-header{
  margin-bottom: 35px;
  img{
    margin-bottom: 28px;
  }
}
}
.slick-01.slick-content{
  padding: 0 30px;
  .slick-list{
   padding: 10px 0;
 }
 .item{
  &:focus{
    border: none!important;
    outline: none!important;
  }
  text-align: center;
  padding: 0 200px;
  .item-text{
    font-size: 18px;
    line-height: 26px;
    font-style: italic;
    position: relative;
    &:before{
      content: "\f10d";
      font-family: fontAwesome;
      position: absolute;
      top: -5px;
      left: -63px;
      font-size: 33px;
      color: $cl-008;
    }
    &:after{
      content: "\f10e";
      font-family: fontAwesome;
      position: absolute;
      bottom: -5px;
      right: -63px;
      font-size: 33px;
      color: $cl-008;
    }
  }
  .item-rating{
    margin-top: 28px;
    > p:first-child{
      margin-bottom: 4px;
      span{
        font-size: 16px;
        line-height: 19px;
        @extend %main_color_2;
      }
    }
    >p:last-child{
      font-size: 10px;
      line-height: 12px;
      color: $cl-015;
      text-transform: uppercase;
      font-family: $font-primary;
    }
  }
}

.slick-arrow{
  @extend %word-break;
  font-weight: bold;
  color: $cl-008;
  @extend %transition;
  cursor: pointer;
  padding: 6px 0;
  position: absolute;
  z-index: 9999;
  top: 10px;
  &:hover{
    color: $color-primary;
  }
  &.bpc-prev{
    border-right: 1px solid $cl-008;
    padding-right: 21px;
    left: 0;
  }
  &.bpc-next{
    border-left: 1px solid $cl-008;
    padding-left: 12px;
    right: 10px;
  }
}
}

.slick-01.slick-thumb{
  width: 330px;
  margin: auto;
  margin-top: 20px;
  padding: 0;
  .slick-list{border-radius: 89px;}
  .thumb{
    margin: 0 10px!important;
    padding: 0!important;
    text-align: center;
    border: 2px solid $cl-016;
    border-radius: 100%;
    &:focus{

      outline: none!important;

    }
    img{
      width: 89px;
      height: 89px;
      display: inline-block;
      border-radius: 100%;
      opacity: 0.3;
      @extend %transition;
    }
    img:hover, &.slick-center img{
      opacity: 1;
      cursor: pointer;
    }
  }
}


.white-text-style{

  .bpc-widget-slick-01 .widget-sub-title{color: $color-018}

  .slick-01.slick-content{
   .item{
    .item-text{
      &:before, &:after{color: $color-018;}
    }
    .item-rating >p:last-child{color: $color-018;}

  }
  .slick-arrow{    
    color: $color-018;  
    &:hover{@extend %main_color_2;
    }
    &.bpc-prev, &.bpc-next{border-color:  $color-018;}
  }
}

.slick-01.slick-thumb{   
  .thumb{
    border: none;  
    img{ opacity: 0.3; @include grayscale(100%);}
    img:hover, &.slick-center img{opacity: 1; @include grayscale(0);}
  }
}
}
.bpc-area-21{
  padding: 120px 0 80px;
  
  .widget+ .widget{
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding-top: 30px;
  }

}

.module-slick-01--02 .slick-arrow{display: none!important}

.bpc-area-10{
  .sj-plw{
    padding-top: 95px;
    padding-bottom: 40px;
    background-size: cover; 
  }
  .sj-prw {
    padding-top: 95px;
    padding-bottom: 250px;
    background-size: cover; 
  }

}

.bpc-widget-slider-pro-02{
  .widget-header{
    margin-bottom: 26px;
  }
  .widget-content{
    padding-right: 100px;
  }
}

.bpc-widget-tab-02{
  .widget-header{
    margin-bottom: 26px;
  }
  .widget-content{
    padding-left: 100px;
  }
}

.bpc-area-12{
  background: $cl-021;
}
.bpc-widget-form-01{
 .widget-header{
  margin-bottom: 45px;
  img{
    margin-bottom: 3px;
  }
}
}
.bpc-widget-form-02{
 .widget-header{
  margin-bottom: 72px;
  .widget-title{
    margin-bottom: 6px;
  }
}

}

.bpc-area-15{
  padding-top: 100px;
  padding-bottom: 130px;
  background: $cl-026;
}

.bpc-widget-intro-07{
  .widget-icon{
    text-align: center;
    margin-bottom: 47px;
  }
}

.bpc-widget-table-02{
  .widget-content{
    background: $cl-001;
    ul{
      li{
        border: 1px solid $cl-026;
        .entry-item{
          padding: 60px 30px;
        }
      }
    }
  }
}


.bpc-area-16{
 position: relative;
 &:after{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background: $cl-001;
}
padding-bottom: 0;
margin-bottom: -20px;
}

.bpc-widget-slider-pro-04{
  .widget-header{
    text-align: center;
    margin-bottom: 30px;
    .widget-title{
      margin-top: 22px;
      margin-bottom: 5px;
    }
  }
}


/*---  ---*/

.main-container.style-03{
  padding: 0 60px;
}

.bpc-nav-scroll{
  position: fixed;
  top: 230px;
  right: 20px;
  z-index: 999;
  .nav>li>a:focus, .nav>li>a:hover{background: transparent}
  .nav>li>a{padding: 0}
  .nav > li.active > a{
    background: none!important;
  }
  .nav>li{
    margin-bottom: 0;
    a{
      font-size: 14px;
      line-height: 25px;
      font-family: $font-primary;
      color: rgba(0, 0, 0, 0.5);
      // text-shadow:1px 1px 1px $cl-002;
    }
  }
  .nav > li.active > a{@extend %main_color_2;
  }
}

.bpc-area-19{
  padding-top: 70px;
}
.bpc-widget-intro-09{
  .widget-header{
    text-align: center;
    margin-bottom: 42px;
  }
  .widget-title{margin-top: 38px;}
  .description{
    padding: 0 135px;
    margin-bottom: 78px;
    .row >div{
      &.col-left{
        font-size: 17px;
        line-height: 25px;
      }
      &.col-right{
        font-size: 25px;
        line-height: 33px;
        font-family: $font-primary;
        color: $color-primary;
      }
    }
  }
}


.bpc-area-20{
  padding-top: 175px;
  padding-bottom: 150px;
  .ct-mask{
    background: rgba(0, 0, 0, 0.35);
  }

  .col-right{
    padding: 45px 85px;
  }

}

.bpc-widget-intro-10{
  @extend .white-text-style;
  .widget-sub-title{margin-bottom: 7px;}
  .widget-content{
    p{
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 0;
    }
  }
  footer{
    margin-top: 85px;
  }
}
.bpc-widget-article-list-02 .widget-title.style-08{ 
  color: $color-021;
  margin-bottom: -13px;
}

.bpc-widget-owl-carousel-02{
  .widget-title{
    color: $cl-032;
    margin-bottom: -13px;
  }
}


.owl-carousel-02{
  .item{
    position: relative;
    .item-number{
      margin-top: 15px;
      margin-left: 2px;
      font-size: 40px;
      line-height: 48px;
      font-weight: bold;
      color: $cl-001;
      display: inline-block;
      position: relative;
      span:first-child{
        font-size: 60px;
        line-height: 72px;
        font-weight: 100;
      }
      span:last-child{
        display: inline-block;
        font-size: 14px;
        line-height: 17px;
        color: $color-020;
        position: absolute;
        top: 17px;
        right: -15px;
        font-weight: normal;
      }
    }
    .item-title{
      font-size: 25px;
      line-height: 30px;
      font-family: $font-6th;
      color: $cl-030;
      text-align: center;
      width: 100%;
      position: absolute;
      bottom: 150px;
    }
    .item-date{
      span{
        font-size: 14px;
        font-family: $font-primary;
        line-height: 40px;
        height: 40px;
        display: inline-block;
        padding: 0 24px;
        color: $cl-001;
        background: $color-020;
        text-transform: uppercase;
      }
      position: absolute;
      bottom: 78px;
      width: 100%;
      text-align: center;
    }
  }

  .owl-next, .owl-prev{
    position: absolute;
    bottom: 20px;
    right: 0;
    span{
      font-size: 20px;
      line-height: 38px;
      width: 40px;
      border: 1px solid $cl-031;
      color: $cl-031;
      text-align: center;
      @extend %transition;
      &:hover{
        color: $cl-001;
        border-color: $cl-001;
      }

    }
  }
  .owl-prev{
    right: 47px;
  }
}


.bpc-widget-img-list-01{
  ul{
    margin-top: -40px;
    li{
      margin-top: 40px;
      text-align: center;
      position: relative;
      &:first-child:before{display: none}
      &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 16px;
        height: 16px;
        border: 1px solid #33504d;
        @include translate_rotate(-8px, -8px, 45deg);
      }

      img{
        opacity: 0.4;
        @extend %transition;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
}




.owl-carousel-03{
  padding-bottom: 170px;
  .owl-dots{
    margin-top: 150px;
    position: absolute;
    left: 50%;
    @include translateX(-50%);

    .owl-dot{
      width: 16px;
      height: 16px;
      background: $cl-008;
      border-radius: 100%;
      float: left;
      margin-left: 12px;
      &:first-child{margin-left: 0}
      position: relative;
      @extend %transition;
      &:before{
        content: "";
        position: absolute;
        top: -3px;
        left: -3px;
        width: 22px;
        height: 22px;
        border: 1px solid transparent;
        border-radius: 100%;
        @extend %transition;
      }

      &.active, &:hover{
        background: $cl-015;
        &:before{border-color: $cl-015}
      }
    }
  }
}

.porfolio-single{
  .sj-plw{
    padding-right: 100px;
    padding-top: 95px;
    padding-bottom:70px;
  }
  .part-02{
    height: 100%;
    background: $cl-025;
    padding: 225px 150px 50px;
    @media screen and (max-width: 639px){
      padding: 50px;
      .owl-carousel-03{
        padding-bottom: 50px;
        .owl-dots{
          margin-top: 20px;
        }
      }
    }
  }
}
.porfolio-sgl-header{
  @extend .widget-header.style-03;

}
.porfolio-sgl-title{
  @extend .widget-title.style-09;
  margin-bottom: 6px;
}
.porfolio-sgl-sub-title{
  @extend .widget-sub-title.style-04;
}
.bpc-widget-intro-12, .porfolio-sgl{
  .block-meta{
    @extend .clearfix;
    >div{
      float: left;
      padding: 0 40px;
      border-left: 1px solid $cl-008;
      text-transform: uppercase;
      &:first-child{
        padding-left: 0;
        border-left: none;
      }
      &:last-child{padding-right: 0}
      h4{
        font-size: 16px;
        line-height: 19px;    
        margin-bottom: 7px;            
      }
      p{
        font-size: 11px;
        line-height: 13px;
        color: $cl-015;
        font-family: $font-primary;
      }
      &+div{
        @media screen and (max-width: 767px){
          margin-top: 10px;
          padding-top: 10px!important;
          border-top: 1px dashed $cl-015;
        }
      }
    }
  }
  .block-text{
    margin-top: 40px;
    font-size: 17px;
    line-height: 25px;
  }
  .block-border-left{
   font-size: 17px;
   line-height: 25px;
   font-style: italic;
   color: $cl-034;
   font-weight: 600;
   border-left: 3px solid $cl-008;
   padding: 0 30px;
   margin-top: 40px;
 }

 .post_social_area{
  @extend .clearfix;
  margin-top: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  @media screen and (max-width: 639px){
    >div{
      float: none!important;
    }
  }
}
.post_next_prev{
  margin-top: 45px;
  @media screen and (max-width: 639px){
    a{
      font-size: 14px;
    }
  }
}
}

.bpc-widget-intro-13, .blog-single, .porfolio-sgb{
  .block-meta{
    margin-top: -20px!important;
    >div{
      margin-top: 20px;
      >div{


        text-align: center;
        border: 10px solid $cl-033;
        padding: 21px 15px;
        text-transform: uppercase;
        height: 100%;
        h4{
          font-size: 20px;
          line-height: 24px;    
          margin-bottom: 0px;            
        }
        p{
          font-size: 13px;
          line-height: 15px;
          color: $cl-015;
          font-family: $font-primary;
          span{margin: 5px;}
        }
      }
      &+div{
        @media screen and (max-width: 767px){
          margin-top: 10px;
          padding-top: 10px!important;
          border-top: 1px dashed $cl-015;
        }
      }
    }
  }
  .block-text{
    text-align: center;
    margin-top: 50px;
    font-size: 17px;
    line-height: 25px;
  }
  .block-text-bold{
   font-size: 22px;
   line-height: 31px;
   font-style: italic;
   color: $cl-034;
   font-weight: 600;
   padding: 0 150px;
   margin-top: 50px;
   text-align: center;
 }

 .post_social_area{
  @extend .clearfix;
  margin-top: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  @media screen and (max-width: 639px){
    >div{
      float: none!important;
    }
  }
}
.post_next_prev{
  margin-top: 45px;
  @media screen and (max-width: 639px){
    a{
      font-size: 14px;
    }
  }
}
}
.porfolio-sgb{
  margin-top: 60px!important;
  .porfolio-sgb-header{
    @extend .widget-header.style-05;
    .porfolio-sgb-sub-title{
      font-size: 13px;
      font-family: $font-primary;
      text-transform: uppercase;
      color: $cl-015;
    }
  }
  .porfolio-sgb-title{
    @extend .widget-title.style-08;
    margin-bottom: 2px;
  }
}
.porfolio-sgb{
  margin-top: 40px;
}
.blog-header{
  @extend .widget-header.style-05;
}
.blog-title{
  @extend .widget-title.style-08;
}
.porfolio-sgb{
  footer{
    margin-top: 50px;
  }
}
.post_social_area_2{
  margin-top: 50px;
}
.bpc-widget-owl-carousel-04, .porfolio-sgt{
  background: $cl-025;
  padding: 50px 0;
}

.owl-carousel-04{
  .item{
    width: 50%;
    margin-left: 25%;
  }
  .owl-next, .owl-prev{
    position: absolute;
    top: 50%;
    @include translate(-50%, -50%);
    span{
      font-size: 20px;
      line-height: 38px;
      width: 40px;
      border: 1px solid $cl-035;
      color: $cl-035;
      text-align: center;
      @extend %transition;
      &:hover{
        color: $color-primary;
        border-color: $color-primary;
      }

    }
  }
  .owl-prev{left: 90px;}
  .owl-next{right: 40px;}
}

.bpc-widget-article-list-03{
  .widget-title{margin-bottom:35px;}
}
.bpc-widget-article-list-04{
  .widget-title{margin-bottom:35px;}
  .widget-content{
    ul{
      margin-top: -18px;
      li{
        margin-top: 18px;
      }
    }
  }
}


/*_____________  _____________*/
.main-col{
  >ul{
    @extend %list_reset;
  }
}

.blog-article-list-01{
  margin-top: -75px!important;
  >li{
    margin-top: 75px!important;
  }
  +.last40-loadmore{
    margin-top: 80px;
  }
}

.blog-article-list-02{
  margin-top: -75px!important;
  >li{
    margin-top: 75px!important;
  }
  +.last40-loadmore{
    margin-top: 80px;
  }
}


.bpc-widget-contact{
  .widget-header{
    margin-bottom: 80px;
    .widget-title{
      margin-bottom: 27px;
    }
    p{
      font-size: 16px;
      line-height: 22px;
    }
  }
  .widget-content{
    ul{      

     li+li{
      border-left: 1px solid $cl-028;
      @media screen and (max-width: 767px){
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid $cl-028;
        border-left: none;
      }
    }

  }
}
}

.bpc-area-28{
  .col-right{
    padding: 100px;
  }
}


.main-content-bg{
  background: $cl-037;
}
.bpc-area-29{
  background: $cl-037;
  padding-top: 45px;
  padding-bottom: 85px;
}
.bpc-area-40{
  background: $cl-037;
  padding-top: 45px;
  padding-bottom: 0;
}

/*_____________ shop  _____________*/

.bpc-result-count{
  padding: 3px 15px;
  background: #f5f5f5;
  span.bpc-refresh{
    display: inline-block;
    font-size: 18px;
    line-height: 13px;
    cursor: pointer;
    vertical-align: middle;
    @extend %transition;
    &:hover{
      @extend %main_color_2;
    }
  }
  p{
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    font-family: $font-primary;
    line-height: 13px;
    margin-left: 3px;
  }
  @media screen and (max-width: 479px){
    width: 100%;
    margin-top: 10px;
  }
}


.woocommerce-ordering{
  label{
    text-transform: uppercase;
    font-family: $font-primary;
    font-size: 13px;
    color: $color-primary;
    margin-right: 3px;
    margin-bottom: 0;
    line-height: 40px;
  }
  select{
    height: 40px;
    line-height: 40px;
    border: 1px solid $cl-022;
    padding: 0 20px;
    min-width: 170px;
    font-family: $font-primary;
    font-size: 13px;
    color: $cl-015;
    text-transform: capitalize;
  }

}

.select-view{
 label{
  text-transform: uppercase;
  font-family: $font-primary;
  font-size: 13px;
  color: $color-primary;
  margin-right: 3px;
}
span{
  display: inline-block;
  width: 45px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  border: 1px solid $cl-022;
  background: #fff;
  color: $cl-015;
  cursor: pointer;
  @extend %transition;
  &:hover{
    @extend %main_color_2;
  }
  &+span{
    border-left: none;
    margin-left: -3px;
  }
}
}

.woocommerce-main-header{
  background: #f5f5f5;
  margin-top: 15px;
  margin-bottom: 30px;
  @extend .clearfix;
  >div{
    padding: 19px 30px;
    &+ div{
      border-left: 1px solid $cl-022;
    }
  }

  .woocommerce-ordering{
    float: left;
    margin-right: 20px;
    &:last-child{margin-right: 0}
  }
  @media screen and (max-width: 1200px){
    label{
      display: none;
    }
  }
  @media screen and (max-width: 767px){
    >div+div{
      border-left: none;
    }
    label{
      display: inline-block;
    }
    form{
      width: 100%;
      margin-bottom: 10px!important;
      text-align: right;
    }
  }
  @media screen and (max-width: 479px){
    label{
      display: none;
    }
    form select{
      width: 100%;
    }

  }
}

.woocommerce ul.products li.product .star-rating{
  font-size: 13px!important;
  margin: 0;
}


.bpc-area-30{
  border-top: 1px solid $cl-008;
  padding-top: 50px;
  padding-bottom: 0px;
}
.bpc-area-31{
  padding-top: 60px;
}

.bpc-product-single{
  margin-top: 30px;
  padding-top: 50px;
  border-top: 1px solid $cl-008;
}

.bpc-map{
  height: 703px;
}
.bpc-widget-bs-instagram{
  .widget-title{
    margin-bottom: 35px;
  }
}

.tagcloud.style-11{
  span{
    text-transform: uppercase;
    font-family: $font-primary;
    font-size: 16px;
    margin-right: 10px;
  }
  a{
    text-transform: capitalize;
    font-size: 16px;
    color: $cl-015;
    font-family: $font-primary;
  }
}

.post_next_prev{
  @extend .clearfix;
  text-align: right;
  .post_next{
    float: right;
  }
  >div{
    display: inline-block;
  }
  a{
    display: inline-block;
    font-size: 16px;
    text-transform: capitalize;
    color: #d9d9d9;
    font-family: $font-primary;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border: 1px solid #dfdfdf;
    min-width: 90px;
    text-align: center;
    @extend %transition;
    &:hover{
      @extend %main_color_2;
      @extend %main_bd_color_2;
    }
  }
}


.bpc-widget-filter-01{
  .masonry-container.row{
    margin-top: -40px!important;
    > div{
      padding: 0 15px!important;
      margin-top: 40px;


    }
  }
  .masonry-footer{
    text-align: left;
    margin-top: 25px;
    padding-top: 25px;
    border-top-width: 1px;
    border-style: solid;
    @extend %main_bd_color_2;
    border-left: none;
    border-right: none;
    border-bottom: none;
    .masonry-filter{
      a{
        display: inline-block;
        font-size: 15px;
        line-height: 25px;
        font-family: $font-primary;
        margin-right: 30px;
        &.active{
          @extend .bpc-slash;
          @extend %main_color_2;
        }
      }
    }
  }
}

.bpc-widget-filter-02{
  .widget-header.style-01{
    background: $cl-006;
    padding: 96px 0 66px 0;
    margin-bottom: -20px;
  }
}

.module-filter-02--02, .module-filter-02--03, .module-filter-02--04, .module-filter-02--05{
  .last40-loadmore{
   margin: auto;
   margin-top: 100px;
   float: none;
   display: table;
   @media screen and (max-width: 639px){
    margin-top: 40px;
  }

}
}

.bpc-widget-instagram{
  .widget-title{
    margin-bottom: 35px;
  }
}



.sidebar .widget{
  margin-bottom: 80px!important;
  &:last-child{
    margin-bottom: 0!important;
  }
}

.ct-mask.style-01{
  background: rgba(0, 0, 0, 0.2);
}
.woocommerce-main-footer{
  margin-top: 55px;
}


.bpc-area-breadcrumb{
  background-attachment: fixed;
}
.module-intro-01--05{
  margin-top: -40px;
}

.slick-02{
  @extend .slick-01.slick-content;
  .slick-arrow{
    color: $cl-008;
    @extend %transition;
    cursor: pointer;
    padding: 6px 0;
    position: absolute;
    z-index: 9999;
    top: 35%;
    font-family: fontAwesome;
    font-size: 30px;
    &:hover{
      color: $color-primary;
    }
    &.bpc-prev{
      border-right: none;
      padding-right: 0;
      left: 20px;
    }
    &.bpc-next{
      border-left: none;
      padding-left: 0;
      right: 30px;
    }
  }
}

.bpc-widget-slick-02{
  border: 10px solid $cl-026;
  padding-top: 30px;
  padding-bottom: 30px;
  .widget-title{
    @extend .widget-sub-title.style-02;
    font-size: 13px;
    text-align: center;
    font-weight: normal;
  }
}

.bpc-widget-intro-05{
  .widget-header.meta-header .header-link .short-text{
    &:before{
      display: none;
    }
  }
  ul.products li.product{
    width: 100%!important;
  }
}

.owl-carousel-05{
  position: relative;

  .owl-nav{
    position: absolute;
    bottom: -65px;
    right: 40px;
    .owl-next, .owl-prev{
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 31px;
      color: $cl-025;
      border: 1px solid $cl-025;
      &+div{
        margin-left: 5px;
      }
      @extend %transition;
      &:hover{
        @extend %main_color_2;
        @extend %main_bd_color_2;
      }
    }
  }
}

.module-filter-02--06{
  .products{
    margin-top: -80px!important;
    .product{
      margin-top: 80px!important;
    }
  }
}


.module-filter-02--01{
  >ul{
    @media screen and (max-width: 1600px) and (min-width: 1200px){
      margin-left: -3px!important;
    }
  }
}

.post_social_area_2{
  margin-top: 100px;

  padding-top: 50px;
  border-top: 1px solid #eee;
  .post_next_prev{
    margin-top: 0;
  }
}

.post_author_area{
  background: #f1f5f6;
  padding: 45px 30px;
  margin-top: 100px;
  .author_avatar{
    margin-right: 30px;
    float: left;
    @media screen and (max-width: 479px){
      float: none;
      margin-right: 0;
      margin-bottom: 30px;
    }
    img{
      width: 88px;
      height: 88px;
      border-radius: 100%;
    }
  }
  .content{
    overflow: hidden;
  }
  .author_name{
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: -5px;
    margin-bottom: 2px;
  }
  .author_position{
    font-size: 11px;
    @extend %main_color_2;
    text-transform: uppercase;
    font-family: $font-primary;
  }
  .author_quote{
    font-size: 17px;
    line-height: 24px;
  }
}

.related_posts_area{
  margin-top: 100px;
  >h4{
    font-size: 23px;
    line-height: 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 55px;
  }
  >ul{
    margin-top: -50px;
    >li{
      margin-top: 50px;
      list-style-type: none;
    }
  }
}

.post_next_prev_2{
  margin-top: 100px;
  >.row{
    margin: 0!important;
    >div{
      padding: 0!important;
    }
  }
  .post_prev, .post_next{
    background: #e6e7ea;
    display: block;
    width: 100%;
    height: 100%;
    padding: 60px 30px;
    @extend %transition;

    .icon{
      font-size: 31px;
      width: 40px;
      height: 40px;
      display: inline-block;
      background: $cl-001;
      border: 1px solid #e3e4e5;
      color: #999;
      text-align: center;
      line-height: 40px;
      margin-top: 30px;
      @extend %transition;
    }
    .text{
      overflow: hidden;
      span{
        font-size: 11px;
        text-transform: uppercase;
        @extend %main_color_2;
        font-family: $font-primary;
      }
      h4{
        font-size: 15px;
        line-height: 22px;
        text-transform: uppercase;
        color: #262626;
        margin-top: 6px;
        margin-bottom: 11px;
        @extend %transition;
      }
      p{
        font-size: 14px;
        line-height: 24px;
        color: #4c4c4c;
        @extend %transition;
      }

    }

    &:hover{
      @extend %main_bg_color;
      h4, p{
        color: $cl-001;
      }
      h4:hover{
        @extend %main_color_2;
      }
      .icon{
       border-color: #0d4a64;
       color: #0d4a64;
       background: #003a52;
     }
   }
 }
 .post_prev{
  .icon{
    float: left;
    margin-right: 30px;
  }
}
.post_next{
  .icon{
    float: right;
    margin-left: 30px;
  }
}
}

.post_comment_list{
  margin-top: 100px;
  .reviews-title{
    font-size: 23px;
    line-height: 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3px;
  }
  .reviews-sub-title{
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    font-family: $font-primary;
  }
  li{
    list-style-type: none;
    border-top: 1px solid #dddddd;
    &:first-child{
      border-top: none;
    }
    &+li{
      margin-top: 30px;
      padding-top: 30px;
    }
  }
  >ol{
    padding-left: 0;
    margin-top: 47px;
    ol{
      padding-left: 65px;
      margin-top: 30px;
      padding-top: 30px;
      border-top: 1px solid #dddddd;
    }
  }
  .comment_container{
    img{
      width: 60px;
      height: 60px;
      border-radius: 100%;
      float: left;
      margin-right: 20px;
    }
    .comment-text{
      h5{
        font-size: 17px;
        line-height: 26px;
        text-transform: capitalize;
        margin-bottom: 2px;
      }
      .date-time{
        font-size: 14px;
        line-height: 26px;
        color: #909090;
        margin-bottom: 25px;
      }
      .description{
        font-size: 17px;
        line-height: 25px;
      }
      .reply{
        font-size: 14px;
        color: #909090;
        display: inline-block;
        height: 25px;
        line-height: 25px;
        padding: 0 15px;
        border: 1px solid #ebebeb;
        margin-top: 8px;
        @extend %transition;
        &:hover{
          @extend %main_bd_color_2;
        }
      }
    }
  }
}

.post_comment_form{
  margin-top: 100px;
  .comment-form-title{
    font-size: 23px;
    line-height: 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3px;
  }
  .comment-form-sub-title{
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    font-family: $font-primary;
    margin-bottom: 55px;
  }
}