
#portfolio {
	text-align: center;
	transition: all 0.7s ease 0s;
	.portfolio-list {
		width: 100%;
	}
	.portfolio-wrapper {
		position: relative;
		display: none;
	}
	.portfolio-background {
		position: relative;
		z-index: 999;
	}
	.portfolio-loading {
		background: url("images/portfolio-loader.gif") no-repeat center center;
		height: 60px;
		width: 60px;
		position: fixed;
		top: 50%;
		left: 50%;
		margin-top: -30px;
		margin-left: -30px;
		display: none;
		z-index: 10000;
		border-radius: 30px;
	}
	#portfolio-close,
	#portfolio-prev,
	#portfolio-next {
		position: absolute;
		top: 42px;
		right: 35px;
		width: 16px;
		height: 20px;
		outline: none
	}
	#portfolio-prev {
		right: 75px;
	}
	#portfolio-next {
		right: 0px;
	}
	#portfolio-close i,
	#portfolio-prev i,
	#portfolio-next i {
		font-size: 16px;
	}
	.projects {
		font-size: 12px;
		line-height: 21px;
		padding-top: 30px;
	}
	.project-details {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.projects{
		h2{
			color: $color-main-2;
		}
		h4{
			font-weight: 600;
			color: $color-main-2;
			letter-spacing: 1px;
		}
	}
	.list-title {
		font-size: 11px;
		color: #222;
		font-weight: 600;
	}
	ul.project-det {
		padding: 0;
		margin: 0
		li{
			border-bottom: 1px solid #f5f5f5;
			line-height: 35px;
			list-style: none;
		}
	}
	.project-info-box {
		padding-left: 20px;
		text-align: left;
	}
	.portfolio-navigation {
		position: absolute;
		top: -30px;
		left: 50%;
		margin-left: 40px;
	}
	.project-margin-reset {
		margin-bottom: 0 !important;
	}
	.projects-navigation-links {
		display: none;
	}
	.item{
		img{
			bottom: 0;
			display: block;
			height: auto;
			max-width: 100%;
		}
	}
	.portfolio-image-container{
		overflow: hidden;
		position: relative;
		width: 100%;
		margin: 0;
		img{
			transition: all .4s;
		}
		&:hover{
			img{
				transform: translateY(-45px);
			}
			.portfolio-intro-details{
				opacity: 1;
				transform: translateY(0);
				transition: transform .4s, opacity .1s;
			}
		}
		.portfolio-intro-details {
			background: #fff;
			bottom: 0;
			color: #fff;
			height: 65px;
			left: 0;
			opacity: 0;
			padding: 15px;
			position: absolute;
			transform: translateY(100%);
			transition: transform .4s, opacity .1s .3s;
			width: 100%;
		}
	}
	.prftl-det {
		width: 90%;
		font-size: 11px;
		p{
			margin: 0;
			padding: 0;
			color: #222;
			font-weight: 600 !important;
			letter-spacing: 1px;
			&.prtfl-cat{
				margin-top: -5px;
				color: $color-main-2;
				font-size: 9px;
			}
		}
	}
	.prtfl-ico {
		width: 10%;
		i{
			color: #222;
			font-size: 15px;
			margin-top: 10px;
		}
	}
}
