



/*_____________ woocommerce _____________*/

/* MAIN PRODUCT STYLES */


.woocommerce, .woocommerce-page{

    /*--- Globals ---*/

    strong{
        font-weight: 600;
    }
    
    h2{
        text-align: left;
        border-bottom: 0;
        font-size: 22px; 
        line-height: 30px;
        font-weight: 400;
        text-transform: uppercase;
        position: relative;
        margin: 0 0 20px;
    }

    h3:not([class*='-title']) {
        font-size: 16px;
        line-height: 24px; 
        font-weight: 600;
        text-transform: capitalize;
        padding: 0;
        margin-bottom: 10px;
        @extend %transition;
    } 

    a{
        img{
            box-shadow: none;
        }
        &:hover{
            img{
                box-shadow: none;
            } 
        }
    }
    @media screen and (max-width: 768px){ 
        #content table.cart, table.cart {
            td.actions{
                .coupon{
                    .button, .input-text, input{
                        width: 100%;
                    }
                }
            }
        }
    }
    .bpc-breadcrumb h2 {
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        font-weight: 600 !important;
        text-transform: capitalize;
        @media screen and (max-width: 767px){
            font-size: 24px;
            line-height: 32px;
        }
    }

    a.remove {
        font-size: 12px;
        color: #ccc !important;
        width: 18px;
        height: 18px;
        line-height: 18px !important;
        border: 1px solid #e5e5e5;
        background: none !important;
        margin-left: 15px;
        &:hover{
            @extend %maini_color_2;
            @extend %main_bd_color_2;
        }
    }

    .quantity{
        .plus, .minus{
            text-shadow: none !important;
            background: #fff;
            border-color: #d8d8d8;
            height: 23px;
            width: 35px;
            &:hover{
                @extend %main_bg_color_2;
                color: $cl-001;
            }
        }
        input.qty{
            font-weight: 600;
            padding: 0;
            text-align: center;
            border: 1px solid #d8d8d8;
            font-weight: bold;
            border-radius: 0;
            border-right: none;
            height: 36px;
            line-height: 36px;
            width: 50px;
            color: #999;
        }
    } 
    .quantity, #content .quantity, .widget_shopping_cart_content a.button:hover{
        min-width: 80px;
        width: auto;
        @extend %main_color_2;
        input.qty{
            border-right: 1px solid #d8d8d8;
        }
    }

    /*--- Product Single ---*/

    .woocommerce-tabs{
        ul.tabs{
            li{
                &:before, &:after{
                    display: none !important;
                }
            }
        }
    }

    #content div.product, div.product{
        .product-sub-title{
            font-size: 11px;
            line-height: 23px;
            color: #999999;
            font-family: $font-primary;
            margin-bottom: 0;

        }
        .product_title{
            font-size: 28px;
            line-height: 34px;
            font-weight: 300;
            position: relative;
            margin: 0 0 5px;
            text-transform: capitalize;
            font-family: $font-primary;
        }

        p.price, span.price{
            color: $color-primary;
            font-size: 24px;
            line-height: 50px;
            font-weight: 400;
            font-family: $font-primary;
            display: inline-block;
            ins {
                text-decoration: none;
                font-weight: 600;
            }
            del {
                font-size: 18px;
                margin-right: 2px;
                color: $color-secondary;
                font-weight: 400;
            }
        }
        .compare-whistlist{
            display: inline-block;
            float: right;
            line-height: 50px;
            margin-bottom: 10px;
            margin-top: -5px;
        }

        div.images{
            margin-bottom: 50px;
            @media screen and (max-width: 639px){ 
                width: 100%;
                float: none;
            }
            img{
                box-shadow: none;
                width: 100%;
            }
            div.thumbnails{
                padding: 0;
                margin: 0 -2.5px;
                a{
                    width: 1/3 * 100%;
                    padding: 0 2.5px;
                    margin: 5px 0 0;
                }
            }
        }

        .woocommerce-tabs{
            margin-bottom: 100px;
            background: #f8f8f8;
            ul.tabs{
                border-bottom: none;
                padding: 25px 30px;
                background: #fff;
                margin-bottom: 0;
                overflow: visible;
                @extend %clearfix;
                &:before{
                    display: none;
                }
                > li {
                    margin-right: 0 !important;
                    background: none !important;
                    border: none !important;
                    border-radius: 0 !important;
                    box-shadow: none !important;
                    padding: 0 !important;
                    margin: 0 !important;
                    float: left;
                    display: block;
                    > a {
                        margin-right: 20px;
                        margin-left: -1px;
                        text-transform: none;
                        border: none !important;
                        background: none !important;
                        color: $color-primary;
                        text-align: center;
                        text-transform: capitalize;
                        padding: 0;
                        padding-right: 13px;
                        margin-bottom: 0px;
                        border-radius: 0;
                        cursor: pointer !important;
                        position: relative;
                        display: block !important;
                        &:before{
                            content: "\f105";
                            font-family: fontAwesome;
                            position: absolute;
                            font-size: 16px;
                            @extend %main_color_2;
                            top: -1px;
                            left: 0;
                            opacity: 0;
                        }
                        &:hover{
                           @extend %main_color_2;
                           padding-left: 13px;
                           padding-right: 0;
                           &:before{
                            opacity: 1;
                        }
                    }
                }
                &.active > a,
                &.active > a:hover,
                &.active > a:focus {
                    cursor: default;
                    padding-left: 13px;
                    padding-right: 0;
                    @extend %main_color_2;
                    &:before{
                        opacity: 1;
                    }
                }
            }
        }
        .panel{
            border: none;
            box-shadow: none;           
            background: none;
            padding: 40px 30px 60px;
        }
        .wc-tab{
            h2{
                font-size: 16px;
                line-height: 24px;
                text-transform: capitalize;
                position: relative;
                margin-bottom: 25px;
                font-weight: bold;
            }
        }
    }


    .tab-description-content{
        .tab-description-img{
            float: left;
            width: 270px;
            margin-right: 30px;
            @media screen and (max-width: 767px){
                float: none;
                margin-right: 0;
                margin-bottom: 30px;
                width: 100%;
            }
        }
        .tab-description-detail{
            overflow: hidden;
            font-size: 15px;
            line-height: 24px;
        }
    }











    form.cart, .woocommerce-variation-add-to-cart{
        margin: 0;
        > *, div.quantity{
            margin: 30px 0 0;
        }
        .variations{
            label{
                font-size: 14px;
                line-height: 22px;
                font-weight: 400;
                color: #333;
                text-transform: capitalize;
                margin: 10px 0 0;
            }
            select{
                height: 40px;
                line-height: 40px;
                border: 1px solid #e5e5e5;
                padding: 0 15px;
            }
        }
    }

    .product_meta{
        margin-top: 30px;
        > span{
            display: block;
            margin-top: 10px;
            &:first-child{
                margin-top: 0;
            }
            &.posted_in{
                color: #999;
                a{
                    font-size: 14px;
                    text-transform: capitalize;
                }
            }
        }
        .sku_wrapper{
            font-size: 14px;
            line-height: 24px;
            color: #999999;
            font-family: $font-primary;
            .sku{
                color: $color-primary;
            }
        }
        .posted_in{
            font-size: 14px;
            line-height: 24px;
            color: #999999;
            margin-top: 0;   
            font-family: $font-primary;         
        }
    }

}

ul.products li.product span.onsale{
    box-shadow: none;
    text-shadow: none;
    padding: 0;
    top: -8px;
    left: auto;
    right: auto;
    margin: 0!important;
    width: 100px;
    height: 50px;
    line-height: 35px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    border: none;
    border-radius: 0;  
    padding-top: 15px;
    font-family: $font-primary;
    text-align: center;
    display: inline-block;
    
}
span.onsale.new{
    @include rotate(-45deg);
    left: -33px!important;
    right: auto!important;
    @extend %main_bg_color_2;
}
span.onsale.sale{
    @include rotate(45deg);
    right: -33px!important;
    left: auto!important;
    background: $color-primary;
}
.product-detail{
    @extend %clearfix;
    display: block;
    border: 1px solid #e5e5e5;
}

.wc-tab{
    display: none;
    &.active{
        display: block;
    }
}

/*--- Product List ---*/

.related.products ul, .related.products .products,
.upsells.products ul, .upsells.products .products, 
.cross-sells ul, .cross-sells .products,
.products ul,
ul.products{
    margin-top: -30px;
    &.row{
        margin-left: -15px;
        margin-right: -15px;
    }
    .star-rating{
        display: inline-block;
    }
    > li, li.product{
        padding: 0 15px;
        margin: 30px 0 0;
        &.col-xs-12 { width: 100%; } &.col-xs-11 { width: 91.66666666666666%; } &.col-xs-10 { width: 83.33333333333334%; } &.col-xs-9 { width: 75%; } &.col-xs-8 { width: 66.66666666666666%; } &.col-xs-7 { width: 58.333333333333336%; } &.col-xs-6 { width: 50%; } &.col-xs-5 { width: 41.66666666666667%; } &.col-xs-4 { width: 33.33333333333333%; } &.col-xs-3 { width: 25%; } &.col-xs-2 { width: 16.666666666666664%; } &.col-xs-1 { width: 8.333333333333332%; }
        @media screen and (min-width: 768px){ &.col-sm-12 { width: 100%; } &.col-sm-11 { width: 91.66666666666666%; } &.col-sm-10 { width: 83.33333333333334%; } &.col-sm-9 { width: 75%; } &.col-sm-8 { width: 66.66666666666666%; } &.col-sm-7 { width: 58.333333333333336%; } &.col-sm-6 { width: 50%; } &.col-sm-5 { width: 41.66666666666667%; } &.col-sm-4 { width: 33.33333333333333%; } &.col-sm-3 { width: 25%; } &.col-sm-2 { width: 16.666666666666664%; } &.col-sm-1 { width: 8.333333333333332%; } } 
        @media screen and (min-width: 992px){ &.col-md-12 { width: 100%; } &.col-md-11 { width: 91.66666666666666%; } &.col-md-10 { width: 83.33333333333334%; } &.col-md-9 { width: 75%; } &.col-md-8 { width: 66.66666666666666%; } &.col-md-7 { width: 58.333333333333336%; } &.col-md-6 { width: 50%; } &.col-md-5 { width: 41.66666666666667%; } &.col-md-4 { width: 33.33333333333333%; } &.col-md-3 { width: 25%; } &.col-md-2 { width: 16.666666666666664%; } &.col-md-1 { width: 8.333333333333332%; } } 
        @media screen and (min-width: 1200px){ &.col-lg-12 { width: 100%; } &.col-lg-11 { width: 91.66666666666666%; } &.col-lg-10 { width: 83.33333333333334%; } &.col-lg-9 { width: 75%; } &.col-lg-8 { width: 66.66666666666666%; } &.col-lg-7 { width: 58.333333333333336%; } &.col-lg-6 { width: 50%; } &.col-lg-5 { width: 41.66666666666667%; } &.col-lg-4 { width: 33.33333333333333%; } &.col-lg-3 { width: 25%; } &.col-lg-2 { width: 16.666666666666664%; } &.col-lg-1 { width: 8.333333333333332%; } }            margin: 30px 0 0;            margin: 30px 0 0;
        @media screen and (max-width: 979px){ 
            width: 50% !important;
        }
        @media screen and (max-width: 479px){ 
            width: 100% !important;
        }
        a{
            img{
                width: 100%;
                box-shadow: none;
                margin: 0;
            }
            &:hover{
                img{
                    box-shadow: none;
                } 
            }
        }

        h3 {
            font-size: 14px;
            line-height: 22px; 
            font-weight: 400;
            text-transform: capitalize;
            color: $cl-010;
            padding: 0;
            margin-bottom: 15px;
            @extend %transition;
        }
        .star-rating {
            margin: 0 0 10px;
            border: none;
            &:before{ 
                @extend %main_color_2;
            }
            span:before{ 
                @extend %main_color_2;
            }
        }
        .price {
            font-family: $font-primary;
            font-size: 18px;
            line-height: 26px;
            color: $color-primary;
            padding: 0;  
            border-bottom: 0;
            margin-bottom: 0;
            > *{
                display: inline-block !important;
            }
            ins {
                text-decoration: none;
                font-weight: 600;
            }
            del { 
                font-size: 14px;
                line-height: 22px;
                margin-right: 5px;
            }
        }
        .add_to_cart_button{
            &.added{
                display: none;
            }
        }
        .button, .wc-forward{
            font-family: $font-primary;
            font-size: 14px;
            line-height: 22px;
            color: $color-primary;
            font-weight: 700;
            text-transform: uppercase;
            background: none !important;
            border: none;
            height: auto;
            padding: 12px 18px;
            display: block;
            &.product_type_variable{
                padding: 12px 5px;
            }
            &.loading{
                &:before{
                    content: '';
                    background: rgba(255,255,255, 0.95); 
                }
                &:after {
                    @extend %fa;
                    content: '\f110';
                    position: absolute;
                    margin: 0;
                    top: 50%;
                    left: 50%;
                    right: auto;
                    margin: -7px 0 0 -7px;
                    webkit-animation: fa-spin 1s infinite steps(8);
                    animation: fa-spin 1s infinite steps(8);
                }
            }
            &:before{
                @extend %ti;
                content: '\e61a';
                margin-right: 10px;
                @extend %transition;
                @media screen and (max-width: 1160px){ 
                    display: none;
                }
            }
            &:hover{
                @extend %main_color_2;
                &:before{
                    @extend %main_color_2;
                }
            }
            &.add-to-cart{
                &:before{
                    @extend %fa;
                    content: '\f07a';
                    font-size: 16px;
                    margin-right: 10px;
                    color: $color-primary;;
                    @extend %transition;
                }
                &:hover{
                    &:before{
                        color: $cl-001;
                    }
                }
            }
        }
        .wc-forward{
            float: none;
            &:before{
                content: '\e628';
            }
        }
        &:hover{
            h3{
                @extend %main_color_2;
            }
        }
    }
}

.woocommerce-result-count, .woocommerce-ordering{
    margin: 0;
    @media screen and (max-width: 479px){ 
        float: none;
    }
    select{
        padding: 0 12px;
        height: 40px;
        border: 1px solid #e5e5e5;
        box-shadow: none;
        border-radius: 0;
        outline: none;
    }
}
.woocommerce-result-count{
    @include text_format($font-secondary, 14px, 22px, 600);
    color: $color-primary;
    margin: 9px 0 0px;
    @media screen and (max-width: 479px){ 
        margin-top: 0;
    }
}

nav.woocommerce-pagination, #content nav.woocommerce-pagination {
    text-align: right;
    @extend %clearfix;
    margin:0;
    @media screen and (max-width: 359px){
        text-align: center;
    }

    ul, ul.page-numbers {
        border:none;
        margin: 0;
        li {
            float: left;
            margin: 0;
            cursor: pointer;
            border: none;
            @include transition(.5s);
            a, span {
                text-align: center;
                background: none ;
                border: none;
                padding: 10px;
                font-size: 16px;
                line-height: 22px;
                color: $cl-015;
                font-weight: normal;
                border-radius: 0;
                @media screen and (max-width: 359px){
                    padding: 6px;
                }
            }
            &:hover, span.current {
                font-weight: bold;
                color: $color-primary;
            }

        }
    }
}

/*--- Buttons ---*/

a.button, button.button, input.button, 
input#submit, #content input.button, .comment-box input#submit, 
div.product form.cart .button, #content div.product form.cart .button{
    padding: 0 40px;
    text-align: center;
    font-weight: normal;
    border-radius: 0;
    left: auto;
    color: $cl-001;
    text-shadow: none;
    border: none;
    @extend %main_bg_color_2;
    box-shadow: none;
    display: inline-block;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    &:before {
        top: 0.5em;
        @extend %main_color_2;
        font-weight: bold;
    }
    &:hover{
        background: #333;
    }
    &.loading{
        min-height: 10px;
        width: auto;
    }
    &.alt{
        @extend %main_bg_color_2;
        border:none;
        box-shadow: none;
        outline: none;
        text-shadow: none;
        @include transition(.3s);
        &:hover{
            background: #000;
            @include opacity(0.8);
        }
    }
}

div.product form.cart .single_add_to_cart_button {
    padding: 0 36px; 
    height:36px;
    line-height: 36px;
    text-align: center;
    border-radius: 36px;
    text-transform: uppercase;
    font-family: $font-primary;
}
a.added_to_cart {
    float: right;
    padding-top: .2em;
}

/*--- Reviews ---*/

#reviews {
    #comments{
        strong{
            font-weight: 600;
        }
        ol.commentlist{
            padding: 0;
            margin-top: 20px;
            @extend %list_reset;
            @extend %list_format;
            li {

                .comment_container{
                    position: relative;
                    min-height: 95px;
                    img{
                        background: none;
                        padding: 0;
                        border: none;
                        width: 95px;

                        height: 95px;
                        border-radius: 100%;
                    }
                    .comment-text{
                        margin: 0 0 0 120px;
                        border: none;
                        border-radius: 0;
                        padding: 0;
                        @media screen and (max-width: 639px){ 
                            margin: 0 0 0 85px;
                        }
                        p.meta{
                            font-size: 12px;
                            margin-bottom: 8px!important;
                            strong, time{
                                text-transform: capitalize;
                                font-weight: 300!important;
                                font-family: $font-primary;
                                color: #999;
                            }
                        }
                    }
                    .star-rating{
                        font-size: 12px;
                    }
                }
                &+li{
                    margin-top: 40px;
                    padding-top: 40px;
                    border-top: 1px solid #eee;
                }
            }
        }

        .star-rating {
            float: right;
            margin: 3px 0 0 15px;
        }
    }
    #review_form_wrapper{
        margin-top: 50px;
        .comment-reply-title{
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            position: relative;
            text-align: center;
            font-family: $font-primary;
            font-weight: bold;
        }
        .comment-notes{
            margin-bottom: 30px;
        }
        .comment-form-comment{
            label{
                display: none;
            }
        }
        input, textarea{
            box-shadow: none;
            background: none;
            outline: none !important;
            border: 1px solid #e5e5e5;
            padding: 10px 15px;
            width: 100%;
            color: $cl-004;
        }
        input[type="submit"] {
            @extend %transition;
            border: none !important;
            outline: none !important;
            @extend %main_bg_color_2;
            line-height: 40px;
            font-weight: 600;
            text-transform: capitalize;
            color: $color-primary;
            width: auto;
            padding: 0 30px;
            border-radius: 0;
            margin-top: 10px;
            text-shadow: none;
            &:hover {
                color: $cl-001;
                background: $color-primary;
            }
        }
        .comment-notes{
            text-align: center;
        }

        form{
            .comment-form-rating{
              margin: 0 0 10px;
              background: #fff;
              border: 1px solid #e5e5e5;

              padding: 10px 15px;
              label{
                display: inline-block;
                margin-bottom: 0;
                font-size: 13px;
                line-height: 13px;
                font-weight: normal;
                color: #cccccc;
                @extend %transition;
            }
            .stars{
                display: inline-block;
                margin-bottom: 0;
                font-size: 13px;
                line-height: 13px;
                margin-left: 10px;
                a{
                    width: 13px!important;
                }
            }
            &:hover{
                label{
                    color: $color-primary;
                }
            }
        }

        input, textarea{
            color: $color-primary;
            font-size: 13px;
            @include placeholder(#ccc, $font-secondary, 13px, normal);
        }
        .comment-form-comment{
            height: 150px;
            textarea{
                height: 150px;
            }
        }
        .form-submit{
            .submit{
                margin-top: 0;
                width: 100%;
                @extend %main_bg_color;
                @extend %transition;
                font-size: 14px;
                line-height: 45px;
                height: 45px;
                font-family: $font-primary;
                text-transform: uppercase;
                color: #fff;
                font-weight: bold;
                &:hover{
                    @extend %main_bg_color_2;
                }
            }
        }

    }

}
}

/*--- Star Ratings ---*/
.woocommerce ul.products li.product .star-rating{
    font-size: 13px!important;
}
.woocommerce-product-rating .star-rating, .star-rating {
    margin: 1px 15px 0 0;
    float: left;
    width: 6.5em;
    &:before{ 
        @extend %main_color_2;
        content: '\73\00a0\73\00a0\73\00a0\73\00a0\73';
    }
    span{
        width: 100%;
        &:before{ 
            @extend %main_color_2;
            content: '\53\00a0\53\00a0\53\00a0\53\00a0\53';
        }
    }
}

.woocommerce-product-rating{
    font-size: 13px;
    line-height: 20px;
    .woocommerce-review-link{
        display: none;
        color: #999;
        text-transform: uppercase;
        margin-bottom: 15px;

        &:hover{
            @extend %main_color_2;
        }
    }
}

#review_form .comment-box .form-submit input{
    width: auto;
}



/*--- Tables ---*/

#content table.cart, 
table.cart,
table.shop_table {
    border: 1px solid #e5e5e5;
    border-top: none;
    border-radius: 0;
    border-collapse: inherit;
    width: 100%;
    tfoot td, tfoot th{
        border-color: #e5e5e5;
    }
    tbody, tfoot, tr, th, td{
        th{
            font-weight: 600;
        }
    }
    th{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding: 15px 12px;
        border-top: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
        &:first-child{
            border-left: 0;
        }
    }
    td {
        padding: 20px 15px;

        &:first-child{
            border-left: 0;
        }
        &.actions{
            padding: 30px;
            .coupon {
                @media screen and (max-width: 979px){ 
                    float: none;
                    margin-bottom: 20px;
                }
                .input-text{
                    width: 300px;
                    padding: 0 15px;
                    height: 40px;
                    line-height: 40px;
                    border-radius: 0;
                    border: 1px solid #e5e5e5;
                }
                .button{
                    background: #ececec;
                    color: $color-primary;
                    margin-left: 15px;
                    &:hover{
                        @extend %main_bg_color_2;
                        color: $cl-001;
                    }
                }
            }
            .button{
                background: $color-primary;
                &:hover{
                    background: #ececec;
                    color: $color-primary;
                }
            }
        }
    }
    tbody{
        .product-name{
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
            text-transform: capitalize;
        }
        .product-price{
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            @extend %main_color_2;
        }
        .product-subtotal{
            font-size: 24px;
            line-height: 32px;
            font-weight: 400;
        }
    }
    img{
        width: 80px;
    }
}
.cart_totals {
    table, table.shop_table {
        border-top: 1px solid #e5e5e5;
    }
}
@media screen and (max-width: 768px){ 
    table.shop_table_responsive{
        tbody{
            tr:first-child{
                td:first-child{
                    border-top: 1px solid #e5e5e5;
                }
            }
        }
        tr{
            td{
                &:before{
                    margin: 2px 15px 0 0;
                    font-weight: 600;
                }
                @media screen and (max-width: 479px){ 
                    &.product-name{
                        text-align: left !important;
                        &:before{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    #content table.cart, 
    table.cart,
    table.shop_table {
        td{
            border-left: none;
        }
        th{
            margin-left: -1px;
        }
    }
}

/*--- Cart sidebar ---*/

.woocommerce .widget_shopping_cart .cart_list, .woocommerce.widget_shopping_cart .cart_list, 
ul.cart_list, ul.product_list_widget{ 
    @extend %list_format;
    > li{
        .product-title{
            margin-top: 8px;
            display: inline-block;
        }
        @extend %clearfix;
        .star-rating{
            float: none;
        }
        .amount{
            font-family: $font-primary;
            font-weight: 600;
        }
        del{
            font-size: 12px;
            margin-right: 5px;
            .amount{
                font-weight: 300;
                color: #b5b5b5;
            }
        }
        ins{
            text-decoration: none;
            font-size: 14px;
            line-height: 22px;
        }
        img{
            width: 80px;
            box-shadow: none;
            margin-left: 15px;
        }
        .star-rating{
            font-size: 12px;
            margin-bottom: 5px;
        }
    }
    li{
        a{
            font-weight: 400;
        }
    }
    a{
        font-size: 14px;
        line-height: 22px;
        text-transform: capitalize;
        margin-bottom: 5px;
        display: block;
        color: #999;
        &:hover{
            @extend %main_color_2;
        }
    }
    &.cart_list{
        .quantity{
            font-family: $font-primary;
            font-weight: 300;
            color: #b5b5b5;
            .amount{
                color: $color-primary;
            }
        }
        .mini_cart_item{
            position: relative;
            padding-left: 30px;
            .remove{
                position: absolute;
                left: 0;
                top: 50%;
                margin: -2px 0 0;
                @extend %main_color_2;
            }
            &:first-child{
                .remove{
                    margin: -10px 0 0;
                }
            }
        }
    }
}

&.widget_shopping_cart,
.widget_shopping_cart{
    .total {
        padding: 20px 0 0;
        font-size: 12px;
        line-height: 22px;
        border: none;
        strong{
            font-weight: 300;
            margin-right: 5px;
        }
        span{
            font-size: 18px;
            font-weight: 600;
            color: $color-primary;
        }
    }
    p.buttons{
        margin: 0 -3px;
        position: relative;
        .button{
            font-family: $font-primary;
            font-size: 14px;
            line-height: 22px;
            color: $color-primary;
            font-weight: 600;
            text-transform: capitalize;
            @extend %main_bg_color;
            border-radius: 0;
            height: auto;
            padding: 8px 18px;
            display: inline-block;
            margin: 10px 3px;
            &:hover{
                background: #f3f3f3; 
            }
            &:last-child{
                padding: 7px 18px;
                background: none;
                border: 1px solid #e5e5e5;
                &:hover{
                    @extend %main_color_2;
                    @extend %main_bd_color_2;
                }
            }
        }
    }
}

/*--- Forms ---*/

form {
    .form-row{
        &.validate-required{
            &.woocommerce-invalid{
                .chzn-single, .chzn-drop, input.input-text, select{
                    @extend %main_bd_color_2;
                }
            }
        }
        input, input.input-text, select, textarea{
            width: 100%;
        }
        select, textarea{
            height: 36px;
        }
        &.place-order{
            input{
                width: auto;
            }
        }
        &.create-account{    
            .input-checkbox{
                float: left;
                width: auto;
                height: 32px;
            }
        }
    }
}

/*--- Order page ---*/

.order_details{
    li{
        float: left;
        margin-right: 20px;
        text-transform: capitalize;
        font-size: 14px;
        line-height: 22px;
        border-right: 1px dashed #e5e5e5;
        padding-right: 20px;
        strong {
            font-size: 12px;
            text-transform: uppercase;
            margin-top: 5px;
        }
    }
}


.woocommerce-thankyou-order-received{
    @extend %main_color_2;
    margin-bottom: 20px;
}
.woocommerce-thankyou-order-details{
    @extend %list_reset;
    margin-bottom: 30px;
}
.cart-subtotal{
    .amount{
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
    }
}
.order-total{
    .amount{
        font-size: 24px;
        line-height: 32px;
        @extend %main_color_2;
    }
}

#ship-to-different-address{
    margin-top: 20px;
    position: relative;
    .checkbox{
        margin-top: 0;
    }
    input, #ship-to-different-address-checkbox{
        position: absolute;
        top: 4px;
    }
}

/*--- More custom ---*/

div.summary, div.entry-summary, .entry-summary{
    margin: 0 0 50px;
    padding-right: 0;
    @media screen and (max-width: 639px){ 
        width: 100% !important;
        float: none !important;
        margin-top: 40px;
        padding: 0 5px;
    }
}

input#submit:hover, #respond input#submit{
    &:hover{
        @extend %main_bg_color;
    }
}

.col2-set {
    @media screen and (max-width: 767px){ 
        .col-1, .col-2{
            width: 100%;
            float: none;
            margin-top: 40px;
            &:first-child{
                margin-top: 0;
            }
        }
    }
}

}


/* WIDGETS */

/*--- widget_product_categories ---*/

.woocommerce.widget.widget_product_categories, .widget_product_categories{
    @extend %list_reset;
    select{
        width: 100%;
        padding: 5px 10px;
    }
    ul{
        li{
            font-size: 13px;
            line-height: 21px;
            
            &:first-child{

            }
            span{
                float: right;
            }
        }
        ul{
            margin-left: 15px;
            li{
                &:first-child{

                }
            }
        }
    }
    a{
        color: $color-secondary;
        &:hover{
            @extend %main_color_2;
        }
    }
}


.widget_price_filter{
    background: $cl-001;
    .widget-title{
        margin-bottom: 0;
        padding: 14px 25px;
    }
    .widget-content{
        background: $cl-006;
        padding: 30px 25px;

    }
    .price_slider_wrapper{

        .ui-slider{
            background-color: $cl-008!important;
            height: 10px!important;
            border-radius: 10px!important;
            margin: 0;
            .ui-slider-range{
                height: 10px;
                border-radius: 10px!important;
                @extend %maini_bg_color_2;
            }
            .ui-slider-handle{

                width: 15px!important;
                height: 15px!important;
                @extend %maini_bg_color_2;
                border: 3px solid #fff!important;
                top: -3px!important;
                cursor: pointer;
            }
        }
        .price_slider_amount {
            margin-top: 10px;
            text-align: center;
            font-size: 12px;
            color: $cl-015;
            font-family: $font-primary;
        }
    }
    .update_price_filter{
        border: none;
        background: $color-primary;
        font-size: 16px;
        line-height: 18px;
        display: block;
        width: 100%;
        color: $cl-001;
        padding: 16px 25px;
        @extend %transition;
        &:hover{
            @extend %main_color_2;
        }
    }
}


ul.product_list_widget{
    >li{
        background: $cl-006;
        margin-bottom: 3px!important;
        &:last-child{margin-bottom: 0}
        padding: 32px 10px 0 100px!important;
        position: relative;
        min-height: 80px;

        a{
            margin-bottom: -3px!important;
            img{
                margin-left: 0!important;
                width: 80px;
                height: 80px;
                position: absolute;
                top: 0;
                left: 0;
            }
            .product-title{
                font-size: 15px;

                line-height: 18px;
                font-family: $font-primary;
                text-transform: uppercase;
                color: $color-primary;
                font-weight: bold;
                margin-top: 0px!important;
                @extend %transition;
                &:hover{
                    @extend %main_color_2;
                }
            }
        }
        .star-rating{
            position: absolute;
            top: 15px;
            left: 100px;
        }
        .woocommerce-Price-amount{
           font-size: 13px;
           line-height: 15px;
           color: $cl-015;
           font-family: $font-secondary;
           font-weight: normal!important;
       }
       del .woocommerce-Price-amount{
        font-size: 11px;
        color: $cl-015;
    }

    ins .woocommerce-Price-amount{
        color: $color-022;
    }
}
} 

/*--- widget_berocket_aapf ---*/

.woocommerce.widget.widget_berocket_aapf, .widget_berocket_aapf{
    .berocket_aapf_widget-wrapper{
        .berocket_aapf_widget  {
            background: $cl-001;
            border: 1px solid $cl-006;
            border-top: none;
            padding: 25px 20px;
            > li{
                margin-top: 12px;
                &:first-child{
                    margin-top: 0;
                }
            }
            li.slider{
                span.left, span.right{
                    input{
                        background: none;
                        border: none;
                        padding: 0;
                        font-size: 16px;
                        line-height: 24px;  
                        font-style: normal;
                    }
                }
                span.left{
                    input{
                        text-align: left;
                    }
                }
            }
        }
    }
    .ui-slider-horizontal{
        height: 2px;
        border: none;
        border-radius: 0;
        background: $cl-005;
        margin-bottom: 8px;
        .ui-slider-range {
            @extend %main_bg_color;
        }
        .ui-widget-content .ui-state-default,
        .ui-slider-handle {
            top: -7px;
            margin: 0;
            width: 16px;
            height: 16px;
            border: none;
            outline: none !important;
            border-radius: 50%;
            @extend %main_bg_color;
            &:last-child{
                margin-left: -16px;
            }
        }
    }
    input[type="checkbox"] {
        & + label{
            &:before{
                position: relative;
                top: 1px;
                margin-right: 15px;
            }
        }
    }
    label {
        font-weight: 400;
        margin: 0;
        text-transform: capitalize;
    }
}


/*--- widget_product_search ---*/

.woocommerce.widget.widget_product_search, .widget_product_search{
    > *{
        position: relative;
    }
    label{
        display: none;
    }
    .woocommerce-product-search{
        position: relative;
        &:before{
            @extend %fa;
            content: '\f002';
            color: rgba(44, 47, 51, 0.3);
            position: absolute;
            top: 14px;
            right: 15px;
        }
        input[type="search"] {
            background: $cl-001;
            border: 2px solid rgba(44, 47, 51, 0.1);
            border-radius: 0;
            color: #c5c5c5;
            padding: 0 40px 0 15px;
            height: 42px;
            line-height: 42px;
            font-size: 14px;
            width: 100%;
            @extend %transition;
        }
        input[type="submit"] {
            width: 14px;
            height: 14px;
            position: absolute;
            top: 14px;
            right: 15px;
            @include opacity(0);
        }
    }
    ::-webkit-input-placeholder {
        color: #c5c5c5;
    }
    :-moz-placeholder {
        /* Firefox 18- */
        color: #c5c5c5;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: #c5c5c5;
    }
    :-ms-input-placeholder {
        color: #c5c5c5;
    }
}

/*--- Alerts ---*/

.woocommerce-message, .woocommerce-error, .woocommerce-info{
    background: none;
    box-shadow: none;
    border-radius: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-width: 3px;
    @extend %main_bd_color_2;
    background: #f9f9f9;
    &:before{
        padding-top: 0;
        color: $color-primary;
    }
}


/*--- Forms ---*/

.select2-drop, .select2-drop-active{
    border-color: #e5e5e5;
    border-radius: 0;
}
.woocommerce-checkout, .edit-account, .login{
    h3{
        margin: 30px 0 15px;
    }
    input, textarea, select{
        border: 1px solid #e5e5e5;
        padding: 8px; 
        line-height: 18px;
    }
    .select2-container{
        .select2-choice{
            border: 1px solid #e5e5e5;
            padding: 8px;
            line-height: 18px;
            border-radius: 0;
        }
    }
    label{
        font-weight: 400;
    }
    .form-row{ 
        .chosen-container-single {
            .chosen-single {
                border-radius: 0;
                background: none;
                box-shadow: none;
                padding: 0 0 0 8px;
                height: 36px;
                line-height: 36px;
                border: 1px solid #e5e5e5;
                background-clip: inherit;
                color: $color-primary;
            }
        }
    }
    fieldset{
        margin-top: 20px;
        legend{
            border-bottom: none;
            margin-bottom: 10px;
        }
    }
    input[type="submit"]{
        margin-top: 10px;
    }
}
.login{
    border-color: #e5e5e5 !important;
    border-radius: 0 !important;
    input.button,
    input[type="checkbox"], input[type="radio"]{
        width: auto !important;
        text-align: left !important;
    }
}


/*--- Cart ---*/

.type-page{
    @extend %clearfix;
    .entry-title{
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
        text-transform: uppercase;
        position: relative;
        margin: 0 0 40px;
    }
}

/*--- Cart/checkout page ---*/

.woocommerce, .woocommerce-page,
.woocommerce-cart,
.woocommerce-checkout,
#add_payment_method{
    @media screen and (max-width: 639px){ 
        #content table.cart, 
        table.cart,
        table.shop_table {
            display: block;
            thead, tfoot td, tfoot th{
                display: block;
                width: 100%;
            }
            tbody, tfoot, tr, th, td{
                display: block;
                th{
                    font-weight: 600;
                }
            }
            thead{
                .product-remove, .product-thumbnail{
                    display: none;
                }
            }
            .coupon{
                input.input-text{
                    width: 100% !important;
                }
                input.button{
                    margin-top: 15px;
                }
            }
        }
    }
    .cart-collaterals{
        .cart_totals {
            @media screen and (max-width: 767px){ 
                width: 100%;
                float: none;
            }
            table, table.shop_table {
                border: 1px solid #e5e5e5;
                border-radius: 0;
                border-collapse: inherit;
                width: 100%;
                tfoot td, tfoot th{
                    border-color: #e5e5e5;
                }
                th{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    padding: 15px 12px;
                    border-color: #e5e5e5;
                }
                td {
                    padding: 15px;
                    border-color: #e5e5e5;
                }
                .amount{
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 400;
                }
                strong{
                    .amount{
                        font-size: 24px;
                        line-height: 32px;
                        font-weight: 700;
                        @extend %main_color_2;
                    }
                }
            }
            a.button.alt{
                width: 220px;
                height: 50px;
                line-height: 50px;
                border-radius: 0;
                font-size: 1em;
                text-transform: capitalize;
                margin-top: 30px;
                padding: 0;
            }
        }
    }
    .checkout{
        h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
            text-transform: uppercase;
            margin-top: 20px;
        }
    }
    #payment{
        border-radius: 0;
        background: #f9f9f9;
        ul.payment_methods{
            @extend %list_reset;
            padding: 15px 30px;
            border-color: #e5e5e5;
        }
        div.form-row{
            padding: 30px;
            border: none; 
        }
    }
}




/*_____________  _____________*/

.woocommerce-page table.cart{
    border: none!important;
    border-collapse: collapse!important;
    thead{
        border: none!important;
    }
    th{
        color: #7d7d7d;
        font-size: 14px;
        font-family: $font-primary;
        text-transform: capitalize;
        font-weight: 300!important;
        border: none!important;
        background: transparent!important;
        text-align: center;
    }
    td{
        position: relative;
    }
    tr{
        border-top: 5px solid #fff!important;
    }
    .product-remove, .product-thumbnail, .product-name, .product-quantity{
        background: #f5f5f5;
    }
    td.product-price, td.product-subtotal{
        background: #eeeeee;
        font-size: 30px;
        font-family: $font-primary;
        color: #4c4c4c!important;
        font-weight: bold;
        text-align: center;

    }
    td.product-name{
        font-size: 17px;
        font-family: $font-primary;
        text-transform: uppercase;
        color: $color-primary;
    }
    td.product-quantity{
        text-align: center;
        input{
            border: none;
            background: #f5f5f5;
            font-size: 30px;
            font-family: $font-primary;
            color: #4c4c4c!important;
            font-weight: bold;
        }
    }
    td.product-name, td.product-quantity{
        position: relative;
        &:after{
            content: "";
            position: absolute;
            top: 50%;
            right: -20px;
            width: 0;
            height: 0;
            @include translateY(-50%);
            border-left: 20px solid #f5f5f5;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            z-index: 999;
        }
    }
    td.product-price{
        position: relative;
        &:after{
            content: "";
            position: absolute;
            top: 50%;
            right: -20px;
            width: 0;
            height: 0;
            @include translateY(-50%);
            border-left: 20px solid #eeeeee;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            z-index: 999;
        }
    }
    .coupon{
        .input-text{
            @include placeholder_2(#7d7d7d, $font-primary, 15px, normal, uppercase);
            height: 45px!important;
            line-height: 45px!important;
        }
        .button{
            height: 45px;
            line-height: 45px;
            text-transform: uppercase;
            background: #222222!important;
            font-size: 16px;
            text-transform: uppercase;
            color: #fff!important;
            font-weight: bold;
            &:hover{
                @extend %maini_color_2;
            }
        }
    }
    td.actions .button{
        height: 45px;
        line-height: 45px;
        text-transform: uppercase;
        background: #222222!important;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff!important;
        font-weight: bold;
        &:hover{
            @extend %maini_color_2;
        }
    }
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
    >h2{
        font-size: 17px;
        font-family: $font-primary;
        text-transform: uppercase;
        margin-bottom: 5px;

    }
    .shop_table{
        border: none!important;
        .cart-subtotal{
            background: #f5f5f5;

            th, td, td span{                
                color: #4c4c4c!important;
                font-size: 15px;
                font-family: $font-3th;
            }

        }
        .order-total{
            border: none!important;
            background: #222222!important;
            th, td{
                border: none!important;
                padding-top: 13px;
                padding-bottom: 13px;
            }
            th{
                font-size: 16px;
                text-transform: uppercase;
                color: #fff!important;
                font-family: $font-primary;
                font-weight: bold;
            }
            td span{
             font-size: 15px;
             text-transform: uppercase;
             color: #fff!important;
             font-family: $font-primary;
             font-weight: bold;
         }
     }
 }
}

a.checkout-button{
    height: 45px!important;
    line-height: 45px!important;
    text-transform: uppercase!important;
    font-size: 16px!important;
    text-transform: uppercase!important;
    font-weight: bold!important;
}


.woocommerce #content div.product div.images div.thumbnails a, .woocommerce div.product div.images div.thumbnails a, .woocommerce-page #content div.product div.images div.thumbnails a, .woocommerce-page div.product div.images div.thumbnails a{
    width: 20%;
}

.woocommerce .related.products{
    h2{
        @extend .widget-title.style-09;
        text-align: center;
        margin-bottom: 0;
    }
    >p{
        text-align: center;
        margin-bottom: 58px;
        font-size: 16px;
        line-height: 19px;
        margin-top: 2px;
    }
}

.woocommerce-page div.product .woocommerce-tabs ul.tabs{
    border-bottom: none;
}
.woocommerce #reviews #review_form_wrapper, .woocommerce-page #reviews #review_form_wrapper{
    form{
        input, textarea{
            background: #fff;
        }
        select{
            height: 40px;
            line-height: 40px;
            padding: 0 8px;
        }
        label{
            display: none;
        }
    }
}


div.summary{
    p{
        font-size: 15px;
    }
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a{
    font-size: 16px;
    text-transform: uppercase;
}

.woocommerce-page div.product .woocommerce-tabs .panel p{
    font-size: 15px;
}

.woocommerce form .form-row{
    @media screen and (max-width: 497px){
        width: 100%!important;
    }
}

.related.products{
    background: #fff;
    padding: 100px 0 75px;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: -1000px;
        width: 1000px;
        height: 100%;
        background: #fff;
    }
    &:after{
        content: "";
        position: absolute;
        top: 0;
        right: -1000px;
        width: 1000px;
        height: 100%;
        background: #fff;
    }
}


.woocommerce #reviews #comments ol.commentlist li,
.woocommerce-page #reviews #comments ol.commentlist li{

}
.woocommerce #reviews #comment{
    height: 150px;
}
@media screen and (max-width: 768px){
    .woocommerce-page table.cart thead{
        display: none;
    }
    .woocommerce-page table.cart tr td:after{
        display: none;
    }
}
@media screen and (max-width: 767px){
    .woocommerce #reviews #comments ol.commentlist li .comment_container img,
    .woocommerce-page #reviews #comments ol.commentlist li .comment_container img{
        width: 60px;
        height: 60px;
    }
    .woocommerce #reviews #comments ol.commentlist li .comment_container .comment-text,
    .woocommerce-page #reviews #comments ol.commentlist li .comment_container .comment-text{
        margin-left: 80px;
    }
}
@media screen and (max-width: 479px){
    .woocommerce #reviews #comments ol.commentlist li .comment_container .comment-text,
    .woocommerce-page #reviews #comments ol.commentlist li .comment_container .comment-text{
        margin-left: 70px;
    }
    .woocommerce #reviews #comments .star-rating, .woocommerce-page #reviews #comments .star-rating{
        float: none;
        margin-left: 0;
    }
}


.woocommerce .sidebar .widget{
    margin-bottom: 0!important;
}


.woocommerce table.shop_table_responsive tr.order-total td:before, .woocommerce-page table.shop_table_responsive tr.order-total td:before{
    color: #fff!important;
}

@media screen and (max-width: 768px) and (min-width: 640px){
    .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce table.cart td.actions .coupon .input-text, .woocommerce table.shop_table td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text,
    .woocommerce-page table.shop_table td.actions .coupon .input-text{
        width: 100%;
    }
}

@media screen and (max-width: 1023px){
    .woocommerce-page table.cart td.product-price,
    .woocommerce-page table.cart td.product-subtotal,
    .woocommerce-page table.cart td.product-quantity input{
        font-size: 20px;
    }
}
@media screen and (max-width: 991px){
    .woocommerce-page table.cart td.product-price,
    .woocommerce-page table.cart td.product-subtotal,
    .woocommerce-page table.cart td.product-quantity input{
        font-size: 16px;
    }
    .woocommerce-page table.cart td.product-name{
        font-size: 14px;
    }
}

div[itemprop='offers']{
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.comment-form-rating .star-rating{
    float: right;
    margin-top: 3px;
}